<md-card>
  <h2 class="ui header">New Book</h2>
  <form [formGroup]="newCategoryForm" (ngSubmit)="save(newCategoryForm.value, newCategoryForm.valid)">
    <div>
      <md-input-container>
        <input md-input type="text" id="title" placeholder="Title" formControlName="title">
      </md-input-container>
      <small [hidden]="newCategoryForm.get('name').valid || (newCategoryForm.get('name').pristine && !submitted)">
        Book title is required (minimum 5 characters).
      </small>
    </div>
    <div>
      <small>Parent</small>
      <md-input-container>
        <input md-input type="text" id="parent" [placeholder]="route.snapshot.params['categoryname']"
               contenteditable="false" disabled>
      </md-input-container>
      <small [hidden]="newCategoryForm.get('parent').valid || (newCategoryForm.get('parent').pristine && !submitted)">
        Parent is required
      </small>
    </div>
    <button md-button [disabled]="!newCategoryForm.valid" type="submit">Submit</button>
  </form>
</md-card>
