button {

}

.standard {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#right {
  right: 0px;
  margin-right: 200px;
  position: absolute;
}

#logo {
  margin-right: 15px;
}

.example-container {
}
