button {

}

.standard {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#right {
  float: right;
}

#logo {
  margin-right: 15px;
  margin-left: 15px;
}

.example-container {
  width: 100%;
}
