<div>
  <md-sidenav-container fullscreen="true" style="background-color: transparent; height: auto; position: fixed">
    <div
      style="max-width: 1600px; min-width: 1024px; margin-left: auto; margin-right: auto; background-color: white; height: auto;">
      {{title}}
      <simple-notifications [options]="options"></simple-notifications>
      <app-nav (toggledNav)="toggleNav()"></app-nav>
      <md-card>
        <app-auth-box></app-auth-box>
      </md-card>
      <div id="quote-container" style="" #quotecontainer (click)="toggleQuote()">
        <i style="font-size: small" [hidden]="showQuote == false">Nugget of wisdom: "<b>{{quote}}</b>"</i>
        <span class="invis-box" [hidden]="(showQuote == true || !(error == undefined))"><i style="font-size: small">You currently have <b>{{bookCount}}</b> books under <b>{{categoryCount}}</b> categories.</i> </span><span
        class="invisi-box" [hidden]="showQuote"><b>{{error}}</b></span>
        <hr>
      </div>
      <router-outlet (activate)="onActivate($event)" style="position: fixed"></router-outlet>
    </div>
    <app-sidebar style="position: fixed" #sidebar></app-sidebar>
  </md-sidenav-container>
</div>
