<md-card>
  <md-card *ngIf="!(currentCategoryName == undefined)"><h2>Displaying books in category: "{{currentCategoryName}}"</h2>
  </md-card>
  <button md-button [routerLink]="['/newbook', id]">New Book</button>
  <md-grid-list cols="2">
    <md-grid-list cols="3" rowHeight="6:3">
      <md-grid-tile *ngFor="let book of books">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title>{{book.title}}</md-card-title>
            <md-card-subtitle><i>By {{book.author}}</i> Category: {{book.parent}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <p>
              {{book.summary}}
            </p>
          </md-card-content>
          <md-card-actions>
            <a md-button [routerLink]="['/book', book.id]">VIEW</a>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-grid-list>
  <app-sidebar style="position: fixed" #sidebar></app-sidebar>
</md-card>
