<md-card id="home-root">
  <md-card *ngIf="!(currentCategoryName == undefined)"><h2>Displaying books in category: "{{currentCategoryName}}"</h2>
  </md-card>
  <button md-button [routerLink]="['/newbook', id, {categoryname: route.snapshot.params['cat']}]">New Book</button>
  <md-grid-list cols="2">
    <md-grid-list cols="3" rowHeight="6:3">
      <md-grid-tile *ngFor="let book of books; let i = index">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title>{{book.title}}</md-card-title>
            <md-card-subtitle><b>Author: {{book.author}}</b> Category: <a
              (click)="navigateToCategory(book.parent,categoryTree[i])">{{categoryTree[i]}}</a></md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <p>
              {{book.summary}}
            </p>
          </md-card-content>
          <md-card-actions>
            <a md-button (click)="navigateToViewBook(book)">VIEW</a>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-grid-list>
  <app-sidebar style="position: fixed" #sidebar></app-sidebar>
  <md-card *ngIf="!(childCategories == undefined)">
    <h2>Child categories</h2>
    <div *ngFor="let childCategory of childCategories">
      <button md-button (click)="navigateToCategory(childCategory.id, childCategory.name)">
        <md-icon>{{childCategory.icon}}</md-icon>
        <a>{{childCategory.name}}</a>
      </button>
    </div>
  </md-card>
</md-card>
